<ion-header>
  <ion-toolbar color="iut-green">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      IUT de Nantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/header.png"></ion-img>
    <div class="card-head">Portes Ouvertes</div>
  </ion-card>
  <!--
    <ion-card (click)="expandItem(item)" *ngFor="let item of items">
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <app-expandable expandHeight="500px" [expanded]="item.expanded">
          <p>{{item.content}}</p>
        </app-expandable>
      
      

      </ion-card-content>
    </ion-card>

    -->

  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-test expandHeight="500px" [expanded]="item.expanded">
        <p>{{ item.content }}</p>
      </app-test>
    </ion-card-content>
  </ion-card>
</ion-content>
