page-evendetail {
    .welcome-card ion-img {
        max-height: 35vh;
        overflow: hidden;
      }
      
      
      .card-title {
        
        font-size: 1.0em;
        width: 100%;
        color: rgb(29, 29, 29);
        top: 0px;
        left: 3%;
        font-weight: bold;
      }
    
    
      .card-head {
        position: absolute;
        font-size: 2.0em;
        width: 100%;
        color: white;
        top: 10px;
        left: 3%;
        font-weight: bold;
      }
    

}
